$charcoal-000: hsl(197, 37%, 40%);
$charcoal-100: hsl(197, 37%, 30%);
$charcoal-200: hsl(197, 37%, 20%);
$charcoal-300: hsl(197, 37%, 10%);

$persiangreen-000: hsl(173, 58%, 40%);
$persiangreen-100: hsl(173, 58%, 30%);
$persiangreen-200: hsl(173, 58%, 20%);
$persiangreen-300: hsl(173, 58%, 10%);

$saffron-000: hsl(43, 74%, 80%);
$saffron-100: hsl(43, 74%, 70%);
$saffron-200: hsl(43, 74%, 60%);
$saffron-300: hsl(43, 74%, 50%);

$sandy_brown-000: hsl(27, 87%, 80%);
$sandy_brown-100: hsl(27, 87%, 70%);
$sandy_brown-200: hsl(27, 87%, 60%);
$sandy_brown-300: hsl(27, 87%, 50%);

$burnt_sienna-000: hsl(12, 76%, 80%);
$burnt_sienna-100: hsl(12, 76%, 70%);
$burnt_sienna-200: hsl(12, 76%, 60%);
$burnt_sienna-300: hsl(12, 76%, 50%);

$subtle-000: hsl(0, 0%, 100%);
$subtle-100: hsl(0, 0%, 80%);
$subtle-200: hsl(0, 0%, 60%);
$subtle-300: hsl(0, 0%, 40%);
