<details open markdown="block">
  <summary class="text-beta">Overview</summary>

{: .purpose }
{{ page.purpose }}

{: .limit }
> {% if page.limitations and page.limitations.size > 0 %}
> {% for item in page.limitations %}
> - {{ item }}
> {% endfor %}
> {% else %}
> - _No limitations listed._
> {% endif %}

{: .data }
> **Inputs**
> {% if page.data_inputs and page.data_inputs.size > 0 %}
> {% for item in page.data_inputs %}
> - {{ item }}
> {% endfor %}
> {% else %}
> - _No inputs listed._
> {% endif %}
> 
> **Inclusion / Exclusion criteria**
> {% if page.data_criteria and page.data_criteria.size > 0 %}
> {% for item in page.data_criteria %}
> - {{ item }}
> {% endfor %}
> {% else %}
> - _No criteria listed._
> {% endif %}

</details>
